@font-face {
    font-family: 'Avayx';
    src: url('../fonts/Avayx-1yYv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  
 
  /* Moon Interaction */
.button{
    font-family: 'Avayx';
}



.button-container {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 1000; /* Ensure buttons are above everything else */
}

.vertical-button {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.vertical-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

