body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;  /* default text color to white */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;  /* Darker background for navbar */
    padding: 10px 0;
}

button {
    background: none;
    border: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;  /* Removes the default focus outline */
    transition: color 0.3s;  /* Transition for hover effect */
}

button:hover {
    color: #888;  /* Change color on hover */
}
